body {
  position: relative;
  margin: 0;
  font-family: serif;
  color: #3d3d3d;
}

#wrapper {
  margin: 1.7em auto;
  max-width: 50em;
  padding-bottom: 2em;
}

h1 {
  text-transform: uppercase;
  margin: .5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
}

td {
  border: .7px solid #d3d3d3;
  height: .3vmin;
  width: .3vmin;
}

td:hover:not(.alive):not(.newBorn) {
  background-color: #d3d3d3;
}

.alive {
  background-color: #00ff7f;
}

.newBorn {
  background-color: #00bfff;
}

.controls {
  float: left;
  user-select: none;
}

.button {
  display: inline-block;
  font-size: .7em;
  font-weight: 500;
  color: #3d3d3d;
  background-color: #00bfff;
  cursor: pointer;
  line-height: 1.3em;
  padding: .4em .6em;
  margin: .3em;
}

.button:hover {
  background-color: #00ff7f;
}

.button-group {
  display: inline-block;
}

.counter {
  float: right;
}
